#  Test Execution Results -

Executed on: **<09/10/2025>**
Browser    : **Chromium

|  Test Case |    |  Description           |         | Status |
|---------------------------------------------------------------------------------------------------
|     1.     |    |"restaurantOffers.spec.js"|       | Pass   |
|     2.     |    |"negativeScenario.spec.js"|       | Fail   |


## Notes:
 - Both test cases executed successfully.
 - Failure confirms that debugging tools(screenshots,video,trace) working correctly.
 - Runtime for successful test 4.2s using playwright test runner. 